In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv') # df stands for dataframe

In [3]:
print(df)

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [4]:
print(df['Salary']) # Specify the name of the column you are selecting

0     50000
1    120000
2     80000
Name: Salary, dtype: int64

In [5]:
# pass in a list of columns to select mutliple columns

print(df[['Name','Salary']])

     Name  Salary
0    John   50000
1   Sally  120000
2  Alyssa   80000

In [7]:
print(df['Salary'].mean()) # Ability to use these statistical methods to select specific values

83333.33333333333

In [8]:
ser_of_bool = df['Age'] > 30 # Use Conditional formatting to evaluate/filter our dataframe contents

In [11]:
print(df[ser_of_bool]) # Use this format to return non-Boolean values
                       # Typically not done in two steps

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [12]:
print(df[df['Age'] > 30]) # Typical syntax for one-line

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [13]:
print(df['Age'].unique())

[34 45 27]

In [14]:
print(df['Age'].nunique())

3

In [15]:
print(df.columns) # Returns the column names

Index(['Name', 'Salary', 'Age'], dtype='object')

In [16]:
print(df.info()) # Returns information on the dataframe and its memory used

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Name      3 non-null object
Salary    3 non-null int64
Age       3 non-null int64
dtypes: int64(2), object(1)
memory usage: 152.0+ bytes
None

In [17]:
print(df.describe()) # Statistical summary of dataframe

              Salary        Age
count       3.000000   3.000000
mean    83333.333333  35.333333
std     35118.845843   9.073772
min     50000.000000  27.000000
25%     65000.000000  30.500000
50%     80000.000000  34.000000
75%    100000.000000  39.500000
max    120000.000000  45.000000

In [18]:
import numpy as np

In [23]:
mat = np.arange(0,10).reshape(5,2)

In [24]:
print(mat)

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [28]:
df1 = pd.DataFrame(data=mat, columns=['A','B']) # Converts our matrix to a dataframe using this pandas DataFrame method
print(df1)

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9